.item-no-border .item-inner{
  border-bottom: 0 !important;
}

.crv-list-view-item{
  border-bottom : 1px solid black;
}

.crv-list-view-item ion-list-header{
  border-bottom : 0;
}

.crv-list-view-item ion-label{
  margin : 0;
}
