.crv-search-list-container{
  padding-left : 5%;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
}
.crv-search-list-container > div{
  display: inline-block;
  padding : 10px;
}

.crv-search-list-container .crv-grade{
  width: 20%;
  font-weight: bold;
  font-size: 20px;
}

a.nav-link:hover{
  cursor : pointer!important;
}
