<div style="height:100%;width:100%; position : absolute">
  <h4>Map View IS THIS Comp</h4>

  <ul *ngFor="let res of results">
    {{res.grade}}
    {{res.restaurant}}
  </ul>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <div *ngIf="listType == MarkerType.RESTAURANT">
      <h1>WE ARE OK</h1>
      <krv-restaurant-marker *ngFor="let marker of markers" [marker]="marker">
      </krv-restaurant-marker>
    </div>
    <div *ngIf="listType == MarkerType.RATINGS">
      <krv-rating-marker *ngFor="let marker of markers" [marker]="marker">
      </krv-rating-marker>
    </div>
  </agm-map>
</div>
